/target/
/gen/android/.gradle/
/gen/android/**/build/
/gen/android/local.properties
/gen/android/**/google-services.json
/gen/apple/build/
/gen/apple/Externals/
/gen/apple/assets/
/gen/apple/**/xcuserdata/
/gen/apple/.tauri/
**/.tauri/
**/build/
**/.gradle/
**/local.properties
**/.kotlin/
